@import "../../scss/variables";

.main-nav{
  height: 110px;
  background-color: $blueNav;
  display: flex;
  justify-content: space-between;
  .nav-item{
    color: #fff;
  }

  .user{
    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #fff;
    }
  }

}

