@import "../../scss/variables";

.chat-con{
  position: relative;
  width: 50vw;
  margin: 0px auto;
  background: rgba(225,225,225,0.4);
  height: calc(100vh - 110px);
  padding:0 55px 160px 35px;
  display: flex;
  box-sizing: border-box;
  @media screen and(max-width: $break-small) {
    width: 100%;
    max-width: 100vw;
    padding: 0 0 160px 0;
  }
}

.icon-bot{
  display: inline-block;
  background:url('/assets/sarah_face_icon.png') no-repeat;
  width: 30px;
  height: 30px;
  background-size: cover;
  box-shadow: 0px 2px 2px #605e5e;
  border-radius: 50%;
}
.icon-user{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  box-shadow: 0px 2px 2px #605e5e;
  border-radius: 50%;
  &.user_yael{
    background-image: url('/assets/user_yael.png');
  }
  &.user_owl{
    background-image: url('/assets/user_owl.png');
  }
  &.user_bunny{
    background-image: url('/assets/user_bunny.png');
  }
  &.user_lizzard{
    background-image: url('/assets/user_lizzard.png');
  }
  &.user_fish{
    background-image: url('/assets/user_fish.png');
  }
}

.list-loop{
  .ballon{
    max-width: 480px;
    display: inline-block;
    background: #fff;
    min-height: 30px;
    padding: 5px 10px;
    margin: 5px 5px -3px 5px ;
    border-radius: 33px 0px 0px 33px;
    &.text ,&.quick{
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: .25s;
      animation-direction: normal;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      animation-delay: 0.4s;
      @media screen and (max-width: $break-small){
        max-width: calc(100vw - 50px);
      }
      &.firstText{
        animation-delay: 0s;
      }
      &.last-text{
        animation-delay: 0.8s;
      }
    }
    &.last-text{
      border-radius: 33px 3px 33px 33px;
    }
    &.firstText{
      border-radius: 33px 33px 3px 33px;
    }
    &:not(.firstText){
      margin-right: 39px;
    }
    &.gallery{
      width: inherit;
      height: auto;
      border-radius: 0;
      display: inline-block;
      background: none;
      margin-right: 0;
      &:not(.firstImg){
        margin-right: 29px;
      }
      img{
        width: 100%;
        height: auto;
      }
    }
  }

  .text-user{
    display: flex;
    justify-content: flex-end;
    .ballon{
      border-radius: 15px;
      background: $blueNav;
      color: #fff;
    }
  }
}
.server-res{
  width: 100%;
  overflow-y: auto;
}
.textInput{
  position: fixed;
  height: 45px;
  width: 40vw;
  background: #fff;
  border-radius: 33px;
  bottom: 47px;
  left:calc( 50vw - 20vw);
  @media screen and(max-width: $break-small) {
    width: 70vw;
    left:calc( 50vw - 35vw);
  }
  input{
    border: none;
    outline: none;
    height: 45px;
    position: relative;
    width: 85%;
    margin-right: 15px;
    border-radius: 15px;
  }
  .sendIcon{
    width: 30px;
    height: 30px;
    position: absolute;
    background:$iconGray ;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    left: 15px;
    top: 7px;
    padding-top: 3px;
    cursor: pointer;
    .fa{
      transform: rotate(-117deg);
    }
  }
}

.chat-btns{
  opacity: 0;
  display: flex;
  position: absolute;
  bottom: 105px;
  width: calc(100% - 20px);
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: .25s;
  animation-direction: normal;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  right: 0;
  overflow-x: auto;
  @media screen and(max-width: $break-small) {
    overflow-y: auto;
    max-width: 100vw;
    right: 0;
    width: 100vw;
  }
  .btn{
    margin: 0 5px;
  }
  &.hide{
    display: none;
    //animation-name: fadeOut;
    //animation-timing-function: ease-out;
    //animation-delay: .5s;
  }
}

.gallery-img{
  width: 100%;
  overflow-x: auto;
  display: flex;
  margin-top: 10px;
  section{
    min-width: 400px;
    margin: 0 10px;
  }
  img{
    width: 400px;
    height: auto;
    border-radius: 5px 5px 0 0;
    @media screen and(max-width: $break-small) {
      width: 100vw;
    }
  }
  .gallery-btn{
    .btn{
      margin:5px;
    }
  }
}




@keyframes fadeIn {
  from{
    opacity: 0;
   transform: translateY(25px) ;
  }
  to{
    opacity: 1;
    transform: translateY(0px) ;
  }
}

figure{
  margin: 0;
}

///////////////////////
@keyframes fadeOut {
  from{
    opacity: 1;
    transform: translateY(0px) ;
  }
  to{
    opacity: 0;
    transform: translateY(25px) ;
    display: none;
  }
}