<section class="chat-con">
<!--<pre dir="rtl">-->
  <!--{{chatList | json}}-->
<!--</pre>-->
  <div class="server-res">
    <div class="list-loop" *ngFor="let res of chatList; index as i; ">
        <!--type: {{res.type}}-->
      <div class="text-user" *ngIf="res.type == 10 && res?.text">
        <div class="ballon user">
          {{res.text}}
        </div>
        <span class="icon-user {{user?.pic}}"></span>
      </div>


      <span *ngIf="res?.showIcon" class="icon-bot"></span>

      <div class="ballon text"
           [ngClass]="{'last-text':res?.last_msg}"
           [class.firstText]="res?.showIcon" *ngIf="res.type == 0 && res?.speech">
        {{res?.speech}}
      </div>

      <div class="gallery-img" *ngIf="res.type == 1 ">
        <!--<section *ngFor="let gal of res.messages; index as m ;">-->
          <!--<figure>-->
            <!--<img [src]="gal.imageUrl">-->
            <!--<fieldset>-->
              <!--<b>{{gal.title}}</b>-->
              <!--<h6>{{gal?.subtitle}}</h6>-->
            <!--</fieldset>-->
          <!--</figure>-->
          <!--<div class="gallery-btn" aria-label="Basic example">-->
            <!--<button type="button"-->
                    <!--class="btn btn-primary"-->
                    <!--*ngFor="let btn of gal.buttons"-->
                    <!--(click)="sendText(btn.postback);question.value = '';">{{btn.text}}</button>-->
          <!--</div>-->
        <!--</section>-->
        <carousel [noWrap]="true">
          <slide *ngFor="let gal of res.messages; index as m ;">
            <img [src]="gal.imageUrl">
            <div class="carousel-caption">
              <b>{{gal.title}}</b>
              <h6>{{gal?.subtitle}}</h6>
            </div>
            <div class="gallery-btn" aria-label="Basic example">
            <button type="button"
            class="btn btn-primary"
            *ngFor="let btn of gal.buttons"
            (click)="sendText(btn.postback);question.value = '';">{{btn.text}}
            </button>
            </div>
          </slide>
        </carousel>

      </div>



      <div class="ballon gallery"
           [class.firstImg]="res?.showIcon"
           *ngIf="res.type == 3 ">
        <figure>
          <img [src]="res.imageUrl" width="40px" height="40px">
        </figure>
      </div>

      <div class="ballon quick"
           [class.firstText]="res?.showIcon"
           [ngClass]="{'last-text':res?.last_msg}" *ngIf="res.type == 2 ">
        <div>
          <p>
            {{res?.title}}
          </p>
        </div>
      </div>

     </div>


  </div>
  <div class="chat-btns"  [ngClass]="{hide:hideBtn}" role="group"  aria-label="Basic example">
    <button type="button"
            class="btn btn-primary"
            *ngFor="let quick of replies"
            (click)="sendText(quick);question.value = '';">{{quick}}</button>
  </div>

  <div class="textInput">
    <input #question type="text" placeholder="הקלד כאן" (keyup.enter)="sendText(question.value);question.value = ''">
    <span class="sendIcon" (click)="sendText(question.value); question.value = ''">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </span>

  </div>
</section>