/* You can add global styles to this file, and also import other style files */
@import 'scss/variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/bootstrap/scss/bootstrap';


@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body{
  direction: rtl;
//  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans Hebrew', serif;

}


.btn-group{
  direction: ltr;
}

.login {
  .progressbar{
    display: none !important;
  }
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  background: rgba(0,0,0,.2);
  text-shadow: 2px 2px 3px #251616;
}
.carousel-indicators{
  bottom: auto;
  top: 10px;
}
.carousel-caption {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 3px #251616;
  width: 100%;
  border-radius: 0 0 5px 5px;
}


.container-fluid{
  @media screen and(max-width: $break-small) {
    padding-left: 0 ;
    padding-right: 0;
  }
}